body {
  overflow-x: hidden;
}

.bg{
  width: 100vw;
  height: 2228px;
  background-color: #ffffff;
  position: relative;
  transform:translateX(-50%);
  left: 50vw;
}

.top {
  width: 100vw;
  height: 320px;
  position: relative;
}
  
  .It {
    width: 57.6px;
    height: 113.9px;
    object-fit: contain;
    position: absolute;
    top: 89.1px;
    left: 118.5px;
  }

  .meet {
    width: 277px;
    height: 44px;
    font-family: FiraSans;
    font-size: 36px;
    text-align: right;
    line-height: 44px;
    color: #ffffff;
    position: absolute;
    top: 254px;
    right: 31px;
  }


.blank {
  width: 100%;
  height: 54px;
  position: relative;
}

.resume {
  position: relative;
  width: 95%;
  max-width: 624px;
  margin: 60px auto;
  height: 273px;
}

  .potrait{
    width: 35%;
    height: 273px;
    background-color: #d8d8d8;
    position: absolute;
    overflow: hidden;
  }

    .potrait img {
      width: 100%;
    }

    .potrait-left {
      left: 0px;
    }

    .potrait-right {
      right: 0px;
    }


  .left {
    right: -16px;
    text-align: left;
  }

  .right {
    left: -16px;
    text-align: right;
  }


  .job {
    width: 65%;
    height: 24px;
    font-family: NotoSansCJKtc-Bold;
    font-size: 24px;
    font-weight: bold;
    line-height: 1;
    color: #f5a623;
    position: absolute;
  }


  .name {
    width: 65%;
    height: 36px;
    font-family: NotoSansCJKtc-Bold;
    font-size: 24px;
    font-weight: bold;
    color: #424951;
    position: absolute;
    top: 48px;
  }



  .contact {
    width: 65%;
    height: 24px;
    font-family: NotoSansCJKtc-Bold;
    font-size: 16px;
    font-weight: bold;
    color: #7c8999;
    position: absolute;
    top: 92px;
    padding-top: 4px;
  }

    .mail {
      width: 25px;
      height: 20px;
      position: relative;
      top: 4px;
    }

  
  .intro-box{
    width: 65%;
    height: 88px;
    position: absolute;
    top: 156px;
  }
 
    .bar {
      width: 8px;
      height: 88px;
      background-color: #ffd366;
      position: absolute;
    }

      .left .bar {
        left: 0px;
      }

      .right .bar {
        right: 0px;
      }

    .intro {
      width: 367px;
      font-family: NotoSansCJKtc-Medium;
      font-size: 16px;
      font-weight: 500;
      color: #424951;
      position: absolute;
      transform:translateY(-50%);
      top: 50%;
      line-height: 24px;
    }

      .intro-box.left .intro {
        left: 16px;
      }

      .intro-box.right .intro {
        right: 16px;
      }

      .intro p a {
        color: #f1951c;
        text-decoration: none;
      }



.bottom {
  width: 100vw;
  height: 80px;
  background-color: #7c8a99;
  position: absolute;
  top: 2148px;
  text-align: center;
  font-family: NotoSansCJKtc-Medium;
  font-size: 16px;
  font-weight: 500;
  line-height: 80px;
  color: #ffd366;
}


@font-face {
  font-family: 'NotoSansCJKtc-Bold';
  src:url('../font/NotoSansCJKtc-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'NotoSansCJKtc-Medium';
  src:url('../font/NotoSansCJKtc-Medium.otf') format('opentype');
}

@font-face {
  font-family: 'FiraSans';
  src:url('../font/FiraSans-Regular.otf') format('opentype');
}
